.interna-portfolio{
    background: url(../img/bg-portfolio.jpg) no-repeat center;
    background-size: cover;
    margin-top: 82px;
}

.quote_clientes{
    padding: 60px 0;
    margin: 0 auto;
    max-width: 600px;
}

.quote_clientes p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    font-style: italic;
    margin-bottom: 20px;
}

.quote_clientes cite{
    font-size: 18px;
    font-weight: bold;
    float: right;
    font-style: normal;
}

.img_center{
    float: none;
    margin: 0 auto;
}